/CraftingInterpreters/C/.vs/CraftingInterpreters
/CraftingInterpreters/C/CraftingInterpreters/x64/Debug
/CraftingInterpreters/C/x64/Debug
CraftingInterpreters/C/build/main
CraftingInterpreters/C/CraftingInterpreters/cmake-build-debug
CraftingInterpreters/C/CraftingInterpreters/cmake-build-debug/Testing/Temporary
CraftingInterpreters/C/CraftingInterpreters/cmake-build-debug
