/CraftingInterpreters/C/CraftingInterpreters/.vs/CraftingInterpreters
/CraftingInterpreters/C/CraftingInterpreters/CraftingInterpreters/x64/Debug
/CraftingInterpreters/C/CraftingInterpreters/x64/Debug
CraftingInterpreters/C/build/main
